body {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
}
.fa-moon {
  font: size 2rem;
  padding: 20px;
}

.fa-align-justify {
  color: rgb(255, 255, 255);
}

.navbar {
  color: #57e9ff;
  /* text-align: center; */
  /* padding: 15px; */

  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  /* margin-top: 10px; */
  margin-right: 4rem;
  /* position: relative; */
  background-color: #005663;
  /* opacity: 15px; */
  padding-top: 10px;
}
.head {
  /* padding: 10px; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: fixed;
  right: 0;
  margin-top: 6rem;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.icons {
  font-size: 20px;

  border-radius: 50%;
}
.hidden {
  display: none;
}
.one1 {
  background-color: #00a1bab7;
  padding: 10px;
  border-radius: 40px;
}
.one2 {
  background-color: #00a1bab7;
  padding: 10px;
  border-radius: 40px;
}
.one3 {
  background-color: #00a1bab7;
  padding: 10px;
  border-radius: 40px;
}
.one4 {
  background-color: #00a1bab7;
  padding: 10px;
  border-radius: 40px;
  /* #00a1ba  */
}
.one1:hover {
  border: 1px solid rgba(78, 78, 78, 0.726);
  transform: translateX(-20%);
}
.one2:hover {
  border: 1px solid rgba(78, 78, 78, 0.726);
  transform: translateX(-20%);
}
.one3:hover {
  border: 1px solid rgba(78, 78, 78, 0.726);
  transform: translateX(-20%);
}
.one4:hover {
  border: 1px solid rgba(78, 78, 78, 0.726);
  transform: translateX(-20%);
}
.icons:hover {
  box-shadow: 0, 0, 15px #57e9ffab;
  cursor: pointer;
}
b {
  color: rgb(255, 255, 255);
}

#demo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
  color: rgb(0, 0, 0);
  margin-left: 16px;
  letter-spacing: 1px;
}
.load {
  text-align: center;
  margin-top: 15px;
  text-decoration: uppercase;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.timer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.img-container {
  display: grid;
  gap: 30px;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  display: flex;

  flex-wrap: wrap;
}

.count {
  display: flex;
  gap: 30px;
  font-size: 4rem;

  align-items: center;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 225px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px #2e2e2e;
  border-radius: 8px;
  background-color: #2e2e2e;
  justify-content: center;
  padding: 8px;
  margin-top: -2px;
}
button {
  border: none;
  font-size: 2rem;
  height: 0;
  display: flex;
  align-items: center;
  background-color: #2e2e2e;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  justify-content: center;
  cursor: pointer;
}
.text {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.text1 {
  font-size: 1.1rem;
  display: flex;
  /* align-items: center; */
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.text2 {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.text3 {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.text4 {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
.max {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  text-align: center;
  /* letter-spacing: 0.5px; */
}
.maxx {
  display: flex;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.767); */
  margin-left: auto;
  cursor: pointer;
}

.max4 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;

  text-align: center;
}
.max3 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;

  text-align: center;
}
.max2 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;

  text-align: center;
}
.max1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;

  text-align: center;
}
.s {
  color: rgb(0, 0, 0);
  padding: 20px;
}
.supply-container {
  display: flex;
  gap: 10px;

  justify-content: center;
  margin-right: 10px;
  font-size: 13px;
}
.t {
  color: rgb(0, 0, 0);
  padding: 20px;
}
.value {
  display: flex;
  gap: 30px;
  font-size: 17px;
  justify-content: center;
  flex-wrap: wrap;
}

.hone {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2rem;
}

.fa-plus {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.fa-minus {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.slides > img {
  width: 250px;

  padding: 5px;
  margin-top: 12px;
  /* gap: ; */
  cursor: pointer;
}
.slides > img:hover {
  border: 2px solid blue;
  background-color: rgba(255, 255, 255, 0.849);
}
section {
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 2px 25px;
  justify-content: center;
}

@media (max-width: 680px) {
  .slides > img {
    width: 100px;
  }
  section {
    gap: 23px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
  }
}
.hon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
